<%-include ("./component/header")%>

<body class="container">
  <form action="/submit-article" method="POST">
    <div class="form-group">
      <label>Title</label>
      <input type="text" class="form-control" name="title" />
      <% if (err && err.title) {%>
      <small id="err" class="form-text text-muted">
        <%= err["title"].message %></small
      >
      <% } %>
    </div>

    <div class="form-group">
      <label>Article</label>
      <input type="text" class="form-control" name="article" />
      <% if (err && err.article) {%>
      <small id="err" class="form-text text-muted">
        <%= err["article"].message %></small
      >
      <% } %>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

  <div class="result mt-4">
    <% if (result.length > 0) { %> <% result.forEach(element => { %>
    <div class="card mb-2 mt-2">
      <div class="card-body">
        <h5 class="card-title"><%= element.title %></h5>
        <p class="card-text"><%= element.article %></p>
        <a href="/edit-article/<%= element.id %>" class="btn btn-primary"
          >Edit</a
        >
        <a href="/delete/<%= element.id %>" class="btn btn-danger">Delete</a>
      </div>
    </div>
    <% }); %> <% } else { %>
    <p>There is no record.</p>
    <% } %>
  </div>
</body>

<%-include ("./component/footer")%>
